<div class="navbar is-dark">
    <!-- logo -->
    <div class="navbar-brand">
      <a class="navbar-item">
        <img src="assets/img/lotto187_logo.png" [routerLink]="['/']">
      </a>
    </div>

    <!--menu-->
    <div class="navbar-menu">
      <div class="navbar-start">
        <a class="navbar-item" [routerLink]="['/']" routerLinkActive="router-link-active" >Home</a>
      </div>
      <div class="navbar-end">
        <a class="navbar-item" [routerLink]="['/login']" routerLinkActive="router-link-active" >TemplateLogin</a>
      </div>

      <div class="navbar-end">
        <a class="navbar-item" [routerLink]="['auth/signin']" routerLinkActive="router-link-active" *ngIf="!isSighIn()">Sign-in</a>
        <a class="navbar-item" [routerLink]="['auth/login']" routerLinkActive="router-link-active" *ngIf="!jwt else logoutTemp" >
          Login</a>
          <ng-template #logoutTemp>
            <div class="navbar-end">
              <a class="navbar-item" [routerLink]="['auth/login']" (click)="logout()" routerLinkActive="router-link-active" >Logout</a>
            </div>
          </ng-template>
      </div>
    </div>
 </div>